<%- model_class = Ship -%>
<div class="page-header ship">
  <h1><%= @ship.name %></h1>
  <h2>Launched in <%= @ship.launched.try(:strftime,"%Y") %></h2>
</div>

<%= link_to image_tag(@ship.image, class: 'ship-image'), @ship.image %>

<% if current_user and current_user.admin? %>
<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:name) %></dt>
      <dd><pre class="prettyprint"><%= @ship.name %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:launched) %></dt>
      <dd><pre class="prettyprint"><%= @ship.launched %></pre></dd>
  </dl>
</div>

  <div class="form-group">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                ships_path, :class => 'btn btn-default'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_ship_path(@ship), :class => 'btn btn-default' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                ship_path(@ship),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  </div>
<% end %>