<!DOCTYPE html>
<html>
<head>
  <title><%= Rails.application.class.parent_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("shipsters-200x200.png", size: '75x75'), root_path, class: 'navbar-brand' %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Ships", ships_path %></li>
          <% if current_user and current_user.admin? %>
            <li><%= link_to "Voyages", voyages_path %></li>
            <li><%= link_to "Stops", stops_path %></li>
            <li><%= link_to "Ports", ports_path %></li>
          <% end %>
          <li><%= link_to "Passengers", passengers_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-left" role="search" accept-charset="UTF-8" action="/<%= search_controller %>" method="get">
            <div class="form-group">
              <input name="utf8" type="hidden" value="&#x2713;" />
              <input type="text" class="form-control" placeholder="<%= search_controller %> search" id="query" name="query">
            </div>
          </form>
          <% if !current_user %>
            <li><%= link_to "Sign-in", new_user_session_path %></li>
            <li><%= link_to "Sign-up", new_user_registration_path %></li>
          <% else %>
            <li><%= link_to "Edit", edit_user_registration_path %></li>
            <li><%= link_to "Sign-out", destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">

    <%# Rails flash messages styled for Bootstrap 3.0 %>
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert fade in alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>
    
    <%= yield %>

  </div> <!-- container -->

</body>
</html>
